
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border:1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100vw;
}

.logo {
    width: 100px;
    height: 100px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0 ;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero{
    background-image: url(./assets/img/accueil_img.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    z-index: 1000;
  }
  
  .popup h4 {
    font-size: 20px;
    color: #333;
  }
  
  .popup h2 {
    font-size: 24px;
    color: #222;
  }
  
  .popup h1 {
    font-size: 28px;
    color: #111;
  }
  
  .popup p {
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
  }
  
  .popup button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }
  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  footer .footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
footer .color{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px ;
}
footer.logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color:wheat;
}
footer p{
    color: #007bff;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #0056b3;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #007bff;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border:  1px solid #088178;
    width:200px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
footer.install img{
    margin: 10px 0 15px 0;
}
footer .install i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
  

  @media(max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px ;
        transition: 0.3s;
    }
    #navbar.active{
        right:0px;
    }
    #navbar li {
        margin-top: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero{
    
        /*height: 100vh;*/
        height: 500px;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }
    #footer .copyright{
        text-align: start;
    }
}